.gitignore
auth.json
/HonLogs/*
node_modules/
/.vscode
/image-manip/image.jpg
envVars.json
test.js
eventuality.json
transcriptIn.txt
transcriptOut.txt
fifteenSentStatus.json
auth.json
suggestions.json
playerSaveData.json
package-lock.json
fileCombinerOut